
.nav-teste{
    position: fixed;
}

.img-carros{
    object-fit:cover;
    object-position: 0 70%;
    height: 400px;
}
.img-carros2{
    object-fit:cover;
    /* object-position: 0 70%; */
    height: 400px;
}

a.texto-slide{
    font-family: 'Pacifico', cursive !important;
    color: rgb(158, 21, 21)!important;
    text-shadow: none !important;
    
   
}

.texto-slide{
    font-family: 'Pacifico', cursive;
    text-shadow: 1px 1px black;
    
   
}

h2.texto-slide{
    color: rgb(158, 21, 21);
    text-shadow: 1px 1px grey;
}

.botao-cor{
    background-color: rgb(158, 21, 21) !important; 
    color: white !important;
    
}

.borda-cor{
    border-color: rgb(158, 21, 21);
    margin-bottom: 3%;
    margin-right: 1%;
    margin-left: 1%;
}


.box-receitas{
    
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    /* align-items: center; */
    /* object-fit:cover;
    object-position: 0 70%;
    height: 40px; */
    
}

.img-box-box{
    object-fit:cover;
    object-position: 0 50%;
    height: 120px;
    

}
.img-box-box6{
    object-fit:cover;
    object-position: 0 70%;
    height: 120px;

}

/* .box{
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 3%;
    padding-top: 1%;
} */

.rodape{
    display: flex;
    justify-content: center;
   
    
    text-align: center;
}

@media (max-width: 768px){
    .box-receitas{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}